@font-face {
  font-family: 'Sinkin Sans';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SinkinSans-400Regular.woff) format('woff');
}

@font-face {
  font-family: 'Sinkin Sans';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/SinkinSans-700Bold.woff) format('woff');
}

body {
  font-family: 'Sinkin Sans';
  font-color: 'white';
  background-image: linear-gradient(#09090B, #6B1107);
}
