@import url('https://fonts.cdnfonts.com/css/sinkin-sans-400-regular');

h1 {
  font-family: 'Sinkin Sans 700 Bold', sans-serif;
}

h2 {
  font-family: 'Sinkin Sans 500 Medium', sans-serif;
}

p {
  font-family: 'Sinkin Sans 400 Regular', sans-serif;
}
