@font-face {
  font-family: 'SinkinSans';
  src: url(fonts/SinkinSans-400Regular.otf);
}

h1 {
  font-family: 'SinkinSansBold', sans-serif;
}

h2 {
  font-family: 'SinkinSansMedium', sans-serif;
}

p {
  font-family: 'SinkinSans', sans-serif;
}
